<div class="large-6 large-offset-3 columns milky">
  </br></br></br></br></br>
<%= simple_form_for @message do |f| %>
<%= f.input :email, label: false, placeholder: "Email" %>
<%= f.input :body, label: false, placeholder: "Your Message here" %>
<%= f.submit %>
<% end %>
  <h3>Documentation</h3>
  <h4> As a developer</h4>
  <p>asdfsadfasdfasdfasdjhfkasdhfksadf</p>
  <h4> As the organiser</h4>
  <p>asdfsadfasdfasdfasdjhfkasdhfksadf</p>
</div>

