<div class="large-6 large-offset-3 columns milky">
  </br></br></br></br></br>
<%= simple_form_for @message do |f| %>
<%= f.input :email, label: false, placeholder: "Email" %>
<%= f.input :body, label: false, placeholder: "Your Message here" %>
<%= f.submit %>
<% end %></br></br>
  <h4>Help out on this project</h4>
  <p>This project is 'work in progess'. If you are a developer, please feel free to send along advice. Should you be interested in using this project, please help first to get a good test coverage for project on <a href="https://github.com/Bumbledebee/Debbie_go_lunch">Github</a>.</p>
</div>
