  def after_sign_in_path_for(resource)

    if current_user.admin?
      edit_user_path(resource)
    else
      edit_user_path(resource)
    end
  end


<%unless Lunch.any?%></br></br>
  <div class='subheader panel'>This app is a demo. GoLunch is an RSVP system for company lunches that creates lunchgroups.</div></br></br><%= link_to "Start the demo", user_omniauth_authorize_path(:google_oauth2), class:'bold button big'%>
<%else%>
<ul class="small-block-grid-3"></br></br></br></br>
  <li><h1 class="pink milky">Participate in next Lunch</h1></br><h1 class="milky bold">
    <%= Lunch.last.name %></h1></br><%if !user_signed_in?%>
    <%= link_to "Join the Lunch", user_omniauth_authorize_path(:google_oauth2), class:'bold button big'%><%end%>
  </li>
  <li></li>
  <li></li>
</ul>

<%end%>
