<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello,</h3>
    <p>welcome to <%= @lunch.name %> .</p>
    <p>Groups are divided as follows:</p>
    <p>
    <% @lunch.groups.each do |group|%>
      <ul><%= group.name %></ul></br>
      <% group.users.each do |user| %>
        <li><%= user.name %> </li>
      <%end%>
    <%end%>
    </p>
</body>
</html>

