<div class="top"
<div class="wrapper">

  <h1>
    NEXT LUNCH: <%= Lunch.last.name if Lunch.any?%>
  </h1>
  <% lunch = Lunch.first %>
  <% user = User.first %>
  <% groups = Lunch.first.groups %>
</div>
</div>


