<div class="top"
<div class="wrapper">

  <h1>
    NEXT LUNCH: <%= Lunch.last.name%>
  </h1>
</div>
</div>
<div class="wrapper">
<%= link_to 'Join the lunch', '#', class: 'button' %>
<!-- Still working on this, will be current user path in the future -->
</div>

