<ul class="small-block-grid-3"></br></br></br></br>
  <li><h1 class="pink milky">Participate in next Lunch: </h1></br><h1 class="milky bold"><%= Lunch.last.name %></h1></li>
  <li></li>
  <li></li>
</ul>
