
<div class="top">
<div class="wrapper">
  <h1>
    NEXT LUNCH: <%= Lunch.last.name if Lunch.any?%>
  </h1>
</div>
</div>

<% if !user_signed_in? %>
<a href="https://github.com/Bumbledebee/Debbie_go_lunch"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
<%end%>

<div class="fotter">
  To try out this app, <strong><%= link_to 'sign in', new_user_session_path %> </strong> with <strong>admin@company.com</strong> and <strong>bigsecret</strong>
</div>

<canvas id="myCanvas" width="400" height="200">
  Your web browser does not support canvas!
</canvas>

<script>
  window.onload = function() {

  // Get the canvas element.
  var canvas = document.getElementById('myCanvas');

  // Check to see if the browser supports the Canvas API.
  if (canvas.getContext) {

    // Initialize a 2d drawing context.
    var ctx = canvas.getContext('2d');
  }
}

</script>

