<div class="wrapper">

<table>
  <thead>
    <tr>
      <th width="200">LUNCH</th>
      <th width="200">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @lunches.reverse.each do |lunch| %>
    <tr>
      <td><%= lunch.name %></td>
      <td><%= link_to "Organise participants", lunch_path(lunch), class:'button' %></td>
      <td> <%= link_to "Look at the groups", lunch_groups_path(lunch), class:'button'%> </td>
      <td> <%= link_to "Make lunch groups", match_lunch_path(lunch), class:'button'%> </td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>



