// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  text-align: left
}
.lunch_name {
  text-decoration: bold;
}

.edit {
  float: left;
  padding: 10;
}

.wrapper {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.top {
  text-align: center;
  background-color: #8affbf;
  padding: 30px;
  border-bottom: 15px solid  #7ce5a6;
}

.button {
  margin-left: auto;
  margin-right: auto;
}
