// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  text-align: left
}

.edit {
  float: left;
  padding: 10;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.middle {
  color: white;
}
.green {
  color: green;
}
.red {
  color: red;
}

.yes, .no {
  display: none;
}

.show {
  display: block;
}

body {
  font-weight: bold;
}

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
  background: #eee;
  padding: 5px;
  width: 143px;
}

.sortable li {
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}

.backgroundpicture {
  background: image-url('Jon-Darsky-Del-Popolo-yatzer-6.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.noticemessage {
  position: fixed;
}


.milky {
  background-color: white;
  opacity: 0.80;
}

.pink {
  //other color: #FF0080
  color: #FE2E9A;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.black {
  a {
  color: black;
  }
}

.big {
  width: 320px;
  height: 150px;
  font-size: 3em;
}

.text {
  width: 600px;
  height: 60px;
  font-size: 3em;
}

.text {
  font-size: 1em;
}
